.DS_Store
/SDC/tstMiClase/nbproject/private/
/SDC/tstMiClase/build/
/SDC/tstMiClase/dist/
/SDC/EscBaileWebFakeClient/nbproject/private/
/SDC/EscBaileWebFakeClient/build/
/SDC/EscBaileWebFakeClient/dist/
/SDC/Cliente/nbproject/private/
/SDC/ClienteEscBaile/nbproject/private/
/SDC/ClienteEscBaile/build/
/SDC/ClienteEscBaile/dist/
/SDC/ClteVtasOnLinePojo/build/
/SDC/ClteVtasOnLinePojo/dist/
/SDC/ClteVtasOnLinePojo/nbproject/private/
/SDC/Parcial_01/VtasOnlineWeb/nbproject/private/
/SDC/Parcial_01/VtasOnlineWeb/dist/
/SDC/Parcial_01/VtasOnlineWeb/build/
/SDC/Parcial_01/ClientePrueba/nbproject/private/
/SDC/Parcial_01/ClientePrueba/build/
/SDC/Parcial_01/ClienteP/nbproject/private/
/SDC/Parcial_01/ClienteP/build/