.DS_Store
/SDC/tstMiClase/nbproject/private/
/SDC/tstMiClase/build/
/SDC/tstMiClase/dist/
/SDC/EscBaileWebFakeClient/nbproject/private/
/SDC/EscBaileWebFakeClient/build/
/SDC/EscBaileWebFakeClient/dist/
/SDC/Cliente/nbproject/private/
/SDC/ClienteEscBaile/nbproject/private/
/SDC/ClienteEscBaile/build/
/SDC/ClienteEscBaile/dist/